<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>TImes Document</title>
   </head>
   <body>
      <div class="time_text">
         <h5>The current Time and Date:</h5>
      </div><br><br>
      <div class="time_box">
         <h5> <%= @date %> </h5>
         <h5> <%= @time %> </h5>
         <h5>NOT COMPLETED...</h5>

      </div>

   </body>
</html>
