// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
   width: 980px;
   height: 0 auto;
   display:block;
   padding: 30px;
   text-align: center;
}
.main{
   display: inline-block;
}
