<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Create New Branch</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <div class="links">
            <a href="/dojo">Home</a>
         </div><br>
         <div class="title">
            <h3>Create a New Dojo</h3>
         </div>
         <% if flash[:errors] %>
            <%flash[:errors].each do |error|%>
               <p style="color:red"><%= error %></p>
            <%end%>
         <%end%>
         <form class="" action="/dojo" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
            <label for="">Branch:</label><input type="text" name="branch"><br><br>
            <label for="">Street:</label><input type="text" name="street"><br><br>
            <label for="">City:</label><input type="text" name="city"><br><br>
            <label for="">State:</label><input type="text" name="state"><br><br>
            <input type="submit" name="" value="Create Dojo">
         </form>
      </div>
   </body>
</html>
